.add_note_general {
    display: flex;
    flex: 1;
    justify-content: center;
    height: fit-content;
}

.add_note {
    width: 100%;
    padding: 5%;
}

.add_note_button {
    margin-top: 2%;
}

.add_note_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 400px;
    padding: 25px;
}