.register {
    display: flex;
    flex: 1;
    justify-content: center;
}

.register_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 400px;
    margin-top: 200px;
    padding: 25px;
}

.error {
    color: red;
}